/* ----------------------------------- */
/* -------------- Resets ------------- */

* {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    box-sizing: border-box;
    /* outline    : solid green; */
}

html {
    scroll-behavior: smooth;
}

body {
    line-height: 1.625;
    font-family: 'Plus Jakarta Sans', sans-serif;
    font-weight: 400;
    font-size: 1rem;
    color: var(--clr-main-gray);
    background-color: var(--clr-background-gray);
    overflow-x: hidden;
}

img,
audio,
video {
    height: auto;
    max-width: 100%;
    display: block;
}

/* ----------------------------------- */
/* ---------- Root Variables --------- */
/* ADJUST AS NEEDED - ASSIGN AS NECCESARY */

:root {
    --clr-background-gray: hsl(0, 0%, 95%);
    --clr-main-gray: hsl(0, 0%, 35%);
    --clr-dark-gray: hsl(0, 0%, 15%);
    --shadow-box: var(--clr-main-gray) 0px 0px 0px 2px inset, var(--clr-main-gray) 10px -10px 0px -3px;
    --shadow: hsla(0, 0%, 0%, 0.15) 0px 3px 3px 0px;
    /* --section-padding : clamp(0.5rem, 3vw, 1rem) clamp(0.1rem, 3vw, 3rem); */
}

/* UTILITY CLASSES */

/* ----------------------------------- */
/* ----------- Main Styles ----------- */

/* Titles */

h1,
h2,
h3,
h4,
h5 {
    font-family: 'Beckman', sans-serif;
    font-weight: 900;
}

h1 {
    font-size: 4.75rem;
    line-height: 0.75;
    color: var(--clr-dark-gray);
}

h1 span {
    text-shadow: 4px 4px 13px hsl(0deg 0% 31%);
    color: var(--clr-background-gray);
    font-size: 2.625rem;
    vertical-align: top;
    font-family: 'Fira Code';
    line-height: 0.85;
}

h2 {
    font-size: 2rem;
    line-height: 0.70;
    color: var(--clr-dark-gray);
}

h3 {
    font-size: 1.5rem;
    line-height: 0.70;
}

h4 {
    font-size: 0.875rem;
    line-height: 1.6;
}

p {
    margin-top: 1.25rem;
    max-width: 45rem;
}

/* anchor link offsets */

#main-offset,
#portfolio-offset {
    /* Adjust fixed nav offset in anchor links */
    width: 1px;
    height: 1px;
    position: absolute;
    top: -5rem;
}

/* Components */

a {
    font-weight: 600;
    color: var(--clr-dark-gray);
}

a.btn {
    font-family: 'Beckman', sans-serif;
    font-weight: 900;
    font-size: 1.875rem;
    padding: 1.25rem 2.5rem;
    display: block;
    text-decoration: none;
    text-align: center;
    max-width: 23rem;
}

a.btn img {
    display: inline-block;
}

.cta {
    background-color: var(--clr-dark-gray);
    color: var(--clr-background-gray);
}

section {
    padding: 5rem 1.5rem;
    border-bottom: 1px solid var(--clr-main-gray);
}

@media only screen and (min-width: 30rem) {
    section {
        padding: 5rem 2.5rem;
    }
}

@media only screen and (min-width: 48rem) {
    section {
        padding: 5rem 4rem;
    }
}

/* The sidebar menu */
.sidebar {
    height: calc(100vh - 5.375rem);
    height: calc(100dvh - 5.375rem);
    width: 20rem;
    position: fixed;
    /* Stay in place */
    z-index: 5;
    /* Stay on top */
    top: 5.375rem;
    left: -20rem;
    /* Is changed with JS */
    bottom: 7.25rem;
    background-color: var(--clr-dark-gray);
    overflow-x: hidden;
    /* Disable horizontal scroll */
    padding-top: 5rem;
    transition: .5s;
    /* 0.5 second transition effect to slide in the sidebar */
    box-shadow: var(--shadow);
    border-right: 1px solid var(--clr-background-gray);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.sidebar h3>a {
    /* The sidebar links */
    padding: 0.875rem 0.5rem 0.5rem 2rem;
    text-decoration: none;
    color: var(--clr-background-gray);
    display: block;
    transition: 0.3s;
}

#sidebar-icons {
    position: absolute;
    right: 0;
    bottom: 1.25rem;
    width: 5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.25rem;
}

#sidebar-icons svg {
    transition: 0.3s;
}


#sidebar-icons svg:hover {
    fill: var(--clr-background-gray);
    scale: 1.05;
}

.sidebar a:hover {
    text-decoration: underline;
}

.openbtn {
    /* Button to open sidebar,  is part of the nav menu */
    font-size: 2rem;
    cursor: pointer;
    color: var(--clr-main-gray);
    background-color: var(--clr-background-gray);
    transition: .3s;
}

.openbtn:hover {
    color: var(--clr-dark-gray);
    scale: 1.05;
}

.openbtn-sidebar {
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    padding: 1rem 1.5rem;
    font-size: 2rem;
    cursor: pointer;
    color: var(--clr-background-gray);
    background-color: var(--clr-dark-gray);
    transition: .3s;
}

.openbtn-sidebar:hover {
    scale: 1.05;
}

@media only screen and (min-width: 48rem) {
    .sidebar {
        left: -15rem;
        top: 0;
        height: 100vh;
        height: 100dvh;
    }

    .openbtn-sidebar {
        display: block;
    }
}

/* Page content container - to push the page content to the right when you open the side navigation */
#main {
    position: relative;
    transition: left .5s;
    /* If you want a transition effect */
    top: 5.2rem;
    /* changed from 5.375 to hide hero-skills left border to show upper gap */
}

@media only screen and (min-width: 48rem) {
    #main {
        left: 5rem;
        width: calc(100% - 5rem);
    }
}

/* nav */

nav {
    position: fixed;
    border-bottom: 2px solid var(--clr-main-gray);
    align-items: center;
    z-index: 10;
    background-color: var(--clr-background-gray);
    box-shadow: var(--shadow);
    transition: .5s;
}

nav.mobile-nav {
    display: flex;
    padding: 1rem 1.5rem;
    justify-content: space-between;
    top: 0;
    left: 0;
    width: 100vw;
}

nav.desktop-nav {
    display: none;
    top: 0;
    right: 0;
    left: 5rem;
}

nav.desktop-nav>div {
    padding: 1rem 4rem;
    display: flex;
    align-items: center;
}

nav.desktop-nav>div img {
    margin-right: 2rem;
}

nav.desktop-nav>a {
    position: absolute;
    right: 0;
    height: 100%;
    bottom: 0;
    line-height: 2.6875rem;
}

nav span {
    font-family: 'Beckman', sans-serif;
    font-weight: 900;
    font-size: 1.875rem;
}

nav img {
    height: 2rem;
}

@media only screen and (min-width: 30rem) {
    nav.mobile-nav {
        padding: 1rem 2.5rem;
    }


}

@media only screen and (min-width: 48rem) {
    nav.mobile-nav {
        padding: 1rem 4rem;
    }

    nav.mobile-nav {
        display: none;
    }

    nav.desktop-nav {
        display: flex;
    }
}

/* hero */

#hero {
    display: flex;
    justify-content: space-between;
    justify-items: stretch;
    padding: 0;
    flex-wrap: nowrap;
    position: relative;
}

#hero-copy {
    padding: 5rem 1.5rem;
}

#hero img {
    position: absolute;
    z-index: -1;
    right: 0;
    top: 0;
    height: 100%;
    opacity: 0.3;
}

#hero .btn {
    margin-top: 2.5rem;

}

@media only screen and (min-width: 30rem) {
    #hero-copy {
        padding: 5rem 2.5rem;
    }

}

@media only screen and (min-width: 48rem) {
    #hero .btn {
        display: none;
    }

    #hero-copy {
        padding: 5rem 4rem;
        /* border-right: 1px solid var(--clr-main-gray); */
    }
}

/* portfolio */
#portfolio {
    position: relative;
    /* to fix nabvar offset with internal links */
}

#portfolio-cards {
    margin-top: 2.5rem;
    gap: 2.5rem;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(21rem, 1fr));
}

.card {
    border: 1px solid var(--clr-main-gray);
    flex: 1 1 22rem;
    padding-right: 3rem;
    box-shadow: var(--shadow);
    /* to make project-link move to bottom-right */
    position: relative;
}

.card-img {
    padding: 0.75rem 0 0.75rem 1.5rem;
    border-bottom: 1px solid var(--clr-main-gray);
}

.card-img img {
    aspect-ratio: 1.45/1;
    object-fit: cover;
}

.card-content {
    padding: 3rem 0 2.5rem 1.5rem;

}

.card-tags {
    margin-top: 2rem;
    margin-bottom: 1.5rem;
}

.card-tags div {
    display: inline-block;
    border: 1px dashed var(--clr-main-gray);
    padding: 0 0.75rem;
    margin-right: 0.5rem;
    margin-bottom: 0.5rem;
    font-size: 0.875rem;
}

.project-link {
    position: absolute;
    right: 2.9rem;
    bottom: 1rem;

}

.project-link a {
    text-decoration: none;
    color: var(--clr-main-gray);
    font-size: 0.875rem;
    font-family: 'Beckman', sans-serif;
}

.project-link a:after {
    content: ' \2794';
}

/* contact */

#contact {
    text-align: center;
    max-width: 46rem;
    margin-right: auto;
    margin-left: auto;
}

#contact h2 {
    font-size: 2.375rem;
    line-height: 1;
    color: var(--clr-background-gray);
}

#contact a.btn {
    font-size: 1.5rem;
    border: 1px solid var(--clr-background-gray);
    margin: 2.5rem auto 0.5rem;
}

#contact h4 a {
    color: var(--clr-background-gray);
    opacity: 0.8;
}

/* footer */

footer {
    border-top: 1px solid var(--clr-main-gray);
    padding: 1.5rem;
    background-color: var(--clr-background-gray);
}

.footer-icons {
    border-bottom: 1px solid var(--clr-main-gray);
    width: clamp(15rem, 80%, 22rem);
    margin: auto;
    display: flex;
    justify-content: center;
    padding-bottom: 0.5rem;
}

.footer-icons img {
    margin: 0 1rem;

}

footer p {
    margin: auto;
    text-align: center;
}


/* ABOUT ME PAGE */
/* ------------- */

/* Introduction */
#intro {
    /* border: none; */
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 4rem;
    justify-content: space-between;
}

#intro-copy h2 {
    font-family: 'Plus Jakarta Sans', sans-serif;
    font-size: 3rem;
    line-height: 1.2;
    color: var(--clr-dark-gray);
}

#intro-copy img {
    max-width: 80%;
    margin: 1rem 0;
}

#skills {
    padding-top: 0;
    position: relative;
    left: -2rem;
    width: fit-content;
}

.code-title {
    font-family: "Fira Mono", monospace;
    color: var(--clr-background-gray);
    position: relative;
    z-index: 2;
    padding: 1rem 2rem;
    border: 1px solid var(--clr-main-gray);
    width: fit-content;
    background-color: var(--clr-main-gray);
}

.color-code {
    color: rgb(110, 55, 110);
    color: #57eaea;
}

#skills-list {
    width: fit-content;
    padding: 1.5rem;
    box-shadow: var(--clr-main-gray) 0px 0px 0px 2px inset, var(--clr-main-gray) 10px -10px 0px -3px;
    position: relative;
    left: 2rem;
    top: -1rem;
}

.close-tag {
    position: relative;
    right: -16rem;
    bottom: 3rem;
    margin: 0;
    display: block;
}

.close-tag h2 {    
    color: var(--clr-background-gray);
}

#skills-list div {
    display: flex;
    font-family: 'Fira Mono', monospace;
    font-weight: 500;
    font-size: 1.2rem;
    align-items: center;
    margin: 1rem auto;

}

#skills-list p {
    margin: 0;
}

#skills-list p span {
    opacity: 0.4;
}

#skills-list img {
    width: 2rem;
    margin-right: 1rem;
}

@media only screen and (min-width: 55rem) {
    #intro {
        flex-direction: row;
        row-gap: 0;
        column-gap: 8rem;
        align-items: baseline;
    }

    #intro-copy {
        flex: 1;
    }

    #skills {
        top: 8rem;
    }
}


/* ABOUTME: Education */

#education>h2,
#hobbies>h2 {
    line-height: 0.8;
    margin-bottom: 3rem;
    color: var(--clr-dark-gray);

}

.certification {
    margin-top: 3rem;
    display: flex;
    align-items: center;
}

.certification img {
    width: 3rem;
    margin-right: 1rem;
}

.certification-copy h3 {
    color: var(--clr-main-gray);    
    line-height: 1.1;
    text-decoration: underline;
}

.certification-copy p {
    margin-top: 0;
    line-height: 0.5;
    font-size: 0.85rem;
    font-family: 'Beckman';
}

/* ABOUTME: Hobbies */

#hobbies>div {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    row-gap: 3rem;
}

#hobbies img {
    border: 1px solid var(--clr-main-gray);
    padding: 0.5rem;
    margin-top: 1rem;

    object-fit: cover;
}

.hobbies img {
    aspect-ratio: 1/1;
    object-fit: cover;
}

#hobbies h3 {
    font-family: 'Plus Jakarta Sans', sans-serif;
    margin-bottom: 0.5rem;
}

#hobby-photo div {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}

@media only screen and (min-width: 30rem) {
    #hobby-photo div img {
        max-width: calc(50% - 0.5rem);
        flex: 1;
    }

    .hobbies {
        max-width: calc(50% - 1rem);
    }
}