/* ----------------------------------- */
/* -------------- Resets ------------- */

* { 
    margin: 0; 
    padding: 0; 
    border: 0; 
    font-size: 100%; 
    font: inherit; 
    vertical-align: baseline;
    box-sizing: border-box;
    /* outline: solid green; */
}
    
body {
    line-height: 1.625;
    font-family: 'Plus Jakarta Sans', sans-serif;
    font-weight: 400;
    font-size: 1rem;
    color: var(--clr-main-gray);
    background-color: var(--clr-background-gray);
}

img,
audio,
video {
    height: auto;  
    max-width: 100%;
    display: block;
} 

/* ----------------------------------- */
/* ---------- Root Variables --------- */
/* ADJUST AS NEEDED - ASSIGN AS NECCESARY */

:root {
    --clr-background-gray: hsl(0, 0%, 95%);
    --clr-main-gray: hsl(0, 0%, 35%);
    --clr-dark-gray: hsl(0, 0%, 15%);
    /* --section-padding: clamp(0.5rem, 3vw, 1rem) clamp(0.1rem, 3vw, 3rem); */
}

/* UTILITY CLASSES */

/* ----------------------------------- */
/* ----------- Main Styles ----------- */

/* Titles */

h1,
h2,
h3,
h4,
h5 {
    font-family: 'Beckman', sans-serif;
    font-weight: 900;
}

h1 {
    font-size: 4.75rem;
    line-height: 0.75;
}

h1 span {
    text-shadow: 4px 4px 13px hsl(0deg 0% 61%);
    color: var(--clr-background-gray);
    font-size: 2.75rem;
    vertical-align: top;
}

h2 {
    font-size: 2rem;
    line-height: 0.70;
}

h3 {
    font-size: 1.5rem;
    line-height: 0.70;
}

h4 {
    font-size: 0.875rem;
    line-height: 1.6;
}

p {
    margin-top: 1.25rem;
}

/* Components */

a {
    font-weight: 600;
    color: var(--clr-dark-gray);
}

a.btn {
    font-family: 'Beckman', sans-serif;
    font-weight: 900;
    padding: 1.25rem 2.5rem;
    display: block;
    text-decoration: none;
    text-align: center;
    max-width: 23rem;
}

a.btn img{
    display: inline-block;
}

.cta {
    background-color: var(--clr-dark-gray);
    color: var(--clr-background-gray);
}

section {
    padding: 5rem 1.5rem;
    border-bottom: 1px solid var(--clr-main-gray);
}

@media only screen and (min-width: 30rem){
    section {
        padding: 5rem 2.5rem;
    }    
}

@media only screen and (min-width: 60rem){
    section {
        padding: 5rem 4rem;
    }    
}

/* The sidebar menu */
.sidebar {
    height: calc(100% - 5.375rem); 
    width: 20rem;
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 5.375rem;
    left: -20rem; /* Is changed with JS */
    bottom: 7.25rem;
    background-color: var(--clr-dark-gray); 
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 5rem; 
    transition: .5s; /* 0.5 second transition effect to slide in the sidebar */
  }

/*   @media only screen and (min-width: 30rem){
    .sidebar {
        left: -15rem;
    }    
} */
  

  .sidebar a {   /* The sidebar links */
    padding: 0.875rem 0.5rem 0.5rem 2rem;
    text-decoration: none;
    color: var(--clr-background-gray);
    display: block;
    transition: 0.3s;
  }
  
  .sidebar a:hover {
    text-decoration: underline;
  }
  
  .openbtn { /* Button to open sidebar,  is part of the nav menu */
    font-size: 2rem;
    cursor: pointer;
    color: var(--clr-main-gray);
    background-color: var(--clr-background-gray);
    transition: .8s;
  }
  
  .openbtn:hover {
    color: var(--clr-dark-gray);
  }
  
  /* Page content container - to push the page content to the right when you open the side navigation */
  #main {
    position: relative;
    transition: left .5s; /* If you want a transition effect */
    top: 5.375rem;
  }

/*   @media only screen and (min-width: 30rem){
    #main {
        left: 5rem;
    }    
} */
  
/* nav */

nav {
    padding: 1rem 1.5rem;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    display: flex;
    justify-content: space-between;
    border-bottom: 2px solid var(--clr-main-gray);
    align-items: center;
    z-index: 5;
    background-color: var(--clr-background-gray);
}

nav span {
    font-family: 'Beckman', sans-serif;
    font-weight: 900;
    font-size: 1.875rem;
}

nav img {
    height: 2rem;
}

@media only screen and (min-width: 30rem){
    nav {
        padding: 1rem 2.5rem;
    }    
}

@media only screen and (min-width: 60rem){
    nav {
        padding: 1rem 4rem;
    }    
}

/* hero */

#hero .btn {
    font-size: 2rem;
    margin-top: 2.5rem;
    
}

/* portfolio */
#portfolio {
    position: relative; /* to fix nabvar offset with internal links */
}


#portfolio-offset {
width: 1px;
height: 1px;
position: absolute;
top: -5rem;
}

#portfolio-cards {
    margin-top: 2.5rem;
    gap: 2.5rem;    
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(21rem, 1fr));
}

.card {
    border: 1px solid var(--clr-main-gray);
    flex: 1 1 22rem;
    padding-right: 3rem;
    /* to make project-link move to bottom-right */
    position: relative;
}

.card-img {
    padding: 0.75rem 0 0.75rem 1.5rem;
    border-bottom: 1px solid var(--clr-main-gray);
}

.card-img img {
    aspect-ratio: 1.45/1;
    object-fit: cover;
}

.card-content {
    padding: 3rem 0 2.5rem 1.5rem;
    
}

.card-tags {
    margin-top: 2rem;
    margin-bottom: 1.5rem;
}

.card-tags div {
    display: inline-block;
    border: 1px dashed var(--clr-main-gray);
    padding: 0 0.75rem;
    margin-right: 0.5rem;
    margin-bottom: 0.5rem;
    font-size: 0.875rem;
}

.project-link {
    position: absolute;
    right: 2.9rem;
    bottom: 1rem;

}

.project-link a {
    text-decoration: none;   
    color: var(--clr-main-gray);
    font-size: 0.875rem;
    font-family: 'Beckman', sans-serif;
}

.project-link a:after {
    content: ' \2794';
  }

/* contact */

#contact {
    text-align: center;
    max-width: 60rem;
    margin-right: auto;
    margin-left: auto;
}

#contact h2 {
    font-size: 2.375rem;
    line-height: 1;
}

#contact a.btn {
    font-size: 1.5rem;
    border: 1px solid var(--clr-background-gray);
    margin: 2.5rem auto 0.5rem;
}

#contact h4 a {
    color: var(--clr-background-gray);
    opacity: 0.8;
}

/* footer */

footer {
    border-top: 1px solid var(--clr-main-gray);
    padding: 1.5rem;
    background-color: var(--clr-background-gray);
}

.footer-icons {
    border-bottom: 1px solid var(--clr-main-gray);
    width: clamp(15rem, 80%, 22rem);
    margin: auto;
    display: flex;
    justify-content: center;
    padding-bottom: 0.5rem;
}

.footer-icons img {
    margin: 0 1rem;
    
}

footer p{
    margin: auto;
    text-align: center;
}


/* media queries breaks to consider:
767:
 tablet, add left side bar, change contact button from hero to nav

991 make contact dark background a fixed width centered
add right side column with skills to hero
 */